<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperación de contraseña</title>
  <style type="text/css">
    /* Reset styles */
    * {
      margin: 0;
      padding: 0;
      border: none;
      box-sizing: border-box;
    }

    /* Main styles */
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
      background-color: #f5f5f5;
    }

    .container {
      margin: 0 auto;
      max-width: 600px;
      padding: 30px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
      text-align: center;
      color: #DF7857;
    }

    h2 {
      font-size: 40px;
      text-align: center;
      margin: 50px 0;
      color: #DF7857;
    }

    p {
      margin-bottom: 20px;
      color: #555;
    }

    .code {
      display: block;
      margin: 30px auto;
      font-size: 56px;
      text-align: center;
      padding: 10px;
      border: 2px dashed #617143;
      border-radius: 5px;
      color: #DF7857;
    }

    .footer {
      margin-top: 50px;
      text-align: center;
      font-size: 14px;
      color: #555;
    }

  </style>
</head>

<body>
  <div class="container">
    <h1>Restablecimiento de contraseña</h1>
    <p>Hola,</p>
    <p>Recibimos una solicitud de recuperación de contraseña para tu cuenta. Para continuar, ingresa el siguiente código de verificación:</p>
    <span class="code">{{code}}</span>
    <p>Este código de verificación es válido solo por el día de hoy.</p>
  </div>
  <div class="footer">
    <p>Este correo electrónico es generado automáticamente, por favor no responder a este mensaje.</p>
  </div>
</body>

</html>
